
.number-pad-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 20px auto; 
}


@media (max-width: 600px) {
  .number-pad-dialog {
    width: 90%; 
    margin: 20px auto; 
  }
}

.otp-display {
  font-size: 18px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.otp-input {
  font-size: 16px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.entered-otp {
  font-size: 16px;
  margin-bottom: 10px;
}

.number-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}
